<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zobonapp">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true"/>

    <uses-feature android:name="android.hardware.screen.portrait"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- <uses-permission android:name="android.permission.CALL_PHONE"/> -->
    <application
        android:name=".utils.ZobonApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ContentActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name=".Preferences">
        </activity>

        <service
            android:name=".service.UpdateService"
            android:exported="false">
        </service>

        <receiver android:name=".service.OnBootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.hotline.ItemsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ItemDetailsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>